.ordder-reviewModal {
  .modal-content {
    border-radius: 8px;
    overflow: hidden;
  }
  .modal-body {
    padding: 30px;
  }
  .title {
    color: #000;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  table {
    margin-bottom: 16px;
    td {
      width: 50%;
    }
    .total {
      color: #000;
      font-weight: 600;
    }
  }
  .note {
    font-size: 14px;
    margin-bottom: 0;
  }
  .btn {
    border-radius: 0;
  }
}
