.loader-container {
  background-color: #00000040;
  height: 100%;
  z-index: 9999999999;
  position: fixed;
  width: 100%;
  display: block;
}
.loader-container .loader {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0px 0px -50px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.low-z-index {
  z-index: 0 !important;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
